@import "../variables";

footer{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;

    .column-footer{
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        a{
            color: $c-white;
            text-decoration: none;
            font-size: $fontSizeHref;
            font-family: $raleway;
            font-weight: 300;

            &:hover{
                color: $color-btn-primary;
            }
        }
    }
}