@import "../variables";

footer{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;

    .column-footer{
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        h4{
            color: white;
            position: relative;
            &:before{
                content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: $secondary-color;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
            }
        }

        a{
            color: $c-white;
            text-decoration: none;
            font-size: $fontSizeHref;
            font-family: $raleway;
            font-weight: 300;

            &:hover{
                color: $secondary-color;
            }
        }
    }
}