@import "../variables";

.intro-homepage{
    background-color: $c-white;
        
    h2{
        color: $c-black ;
    }

    .flex-intro-homepage{
        display: flex;
        align-items: center;
        column-gap: 50px;

        .left{
            width: 50%;
           p{
            color: $c-black;
           }
        }

        .right{
            width: 50%;
            justify-content: center;
            display: flex;

            img{
                width: 60%;
                height: 100%;
            }
        }
    }
}