@import "../variables";

.intro-homepage{
    background-color: $c-white;
        
    h2{
        color: $c-black ;
    }

    .flex-intro-homepage{
        display: flex;
        align-items: center;
        column-gap: 50px;

        @include for-size(tablet) {
            flex-direction: column;
          }

        .left{
            width: 50%;

            @include for-size(tablet) {
                width: 100%;
              }

           p{
            color: $c-black;
           }
        }

        .right{
            width: 50%;
            justify-content: center;
            display: flex;

            @include for-size(tablet) {
                width: 100%;
              }

            img{
                width: 60%;
                height: 100%;
            }
        }
    }
}