@import "../variables";

.offers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .card-offer{
        border-color: #35454c;
        border-width: 2px !important;
        border-style: solid;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        padding: 20px 0px;
        width: 40%;
        background: #08090A;
        p{
            color: $c-white;
        }
        .header-desc{
           p{
            &::before{
                content: "V";
            }
           }
        }

        &:nth-child(1),
        &:nth-child(3){
            padding: 2rem;
            text-align: left;
            width: 30%;
        }

        &:nth-child(1){
            transform: translateX(50px);
        }

        &:nth-child(3){
            transform: translateX(-50px);
        }
    }

    .text-green{
        color: green;
    }
}