@import "../variables";

.offers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;

    .card-offer{
        background-color: $c-white;
        width: 20%;
        position: relative;
        border-radius: 5px;

        .encart-offer{
            position: absolute;
            background-color: #FF725E;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 15px 50px;
            border-radius: 5px;
        }
        .content-offer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 35px 0px;
           p{
            color: $c-black;
           }

           .price{
            padding-bottom: 50px;
            padding-top: 25px;
            font-size: 50px;
           }
           .desc-offer{
                display: flex;
                align-items: center;
                text-align: left;
                width: 100%;
            &:first-child{
                padding-top: 50px;
            }

                svg {
                    width: 24px;
                    height: 24px;
                    margin-right: 0.5rem;
                    fill: none;
                    stroke: #10B981;
                    stroke-width: 1.5;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                  }
           }
        }
    }
}


 

