* {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0px;
    font-size: 16px;
    line-height: 1.2;
    overflow-x: hidden;
    width: 100%;
    font-display: block;
    counter-reset: tunnel;
    background-color: $primary-color;
}


.padding-bottom-small{
    padding-bottom: 25px;
}

.padding-bottom{
    padding-bottom: 50px;
}

.padding-bottom-big{
    padding-bottom: 100px;

    @include for-size(tablet) {
        padding-bottom: 50px;
    }
}

.padding-top-small{
    padding-top: 25px;
}

.padding-top{
    padding-top: 50px;
}

.padding-top-big{
    padding-top: 100px;

    @include for-size(tablet) {
        padding-top: 50px;
    }
}