/*----------
IMAGE GAUCHE TEXTE DROIT
-----------*/

.conteneurBlocImgTxt{
    display: flex;
    align-items: center;
    column-gap: 50px;

    .contenuMixteImageG{
        width: 50%;

        img{
            width: 100%;
            height: 100%;
        }

        @include for-size(big-tablet) {
            width: 100%;
         }
    }

    .contenuMixteTexteD{
        width: 50%;

        @include for-size(big-tablet) {
            width: 100%;
         }
    }

    @include for-size(big-tablet) {
       flex-direction: column;
    }
}

/*----------
IMAGE DROITE TEXTE GAUCHE
-----------*/

.conteneurBlocImgTxt{
    display: flex;
    align-items: center;
    column-gap: 50px;

    .contenuMixteTexteG{
        width: 50%;

        @include for-size(big-tablet) {
            width: 100%;
         }
    }

    .contenuMixteImageD{
        width: 50%;

        img{
            width: 100%;
            height: 100%;
        }

        @include for-size(big-tablet) {
            width: 100%;
         }
    }

    @include for-size(big-tablet) {
        flex-direction: column;
     }
}

/*----------
IMAGE FULL
-----------*/

.imageFull{
    img{
        width: 100%;
        height: 100vh;

        @include for-size(tablet) {
           height: 100%;
        }
    }
}

/*----------
DOUBLE COLUMN TEXT
-----------*/

.double-columnText{
    display: flex;
    column-gap: 50px;

    @include for-size(big-tablet) {
        flex-direction: column;
     }
}

/*----------
TRIPLE COLUMN TEXT
-----------*/

.triple-columnText{
    display: grid;
    column-gap: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    @include for-size(big-tablet) {
        grid-template-columns: repeat(2,1fr);
     }

    @include for-size(tablet) {
        grid-template-columns: repeat(1,1fr);
     }
}


