.ctSmall{
    max-width: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: $primary-color;

    @include for-size(phone) {
        max-width: 90%;
    }
}

.ct{
    max-width: 65%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include for-size(big-desktop) {
        max-width: 90%;
    }

    @include for-size(phone) {
        max-width: 90%;
    }
}

.ctLarge{
    max-width: 85%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include for-size(big-desktop) {
        max-width: 90%;
    }

    @include for-size(phone) {
        max-width: 90%;
    }
}

.ct100{
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}