h1{
    font-size: $fontSizeH1;
    line-height: $lineHeightTitle;
    color: $c-white;
    font-family: $nunito;
    margin-top: 0px;
    font-weight: $fw-reg;
    font-size: 78px;
}

.h1-title{
    line-height: $lineHeightTitle;
    color: $c-white;
    font-family: $raleway;
    font-weight: $fw-light;
    font-size: 78px;
}

h2{
    font-size: $fontSizeH2;
    line-height: $lineHeightTitle;
    color: $c-white;
    font-family: $recoletaSemiBold;
    font-weight: $fw-light;
    font-size: 60px;
}



h3{
    font-size: $fontSizeH3;
    line-height: $lineHeightTitle;
    color: $c-white;
    font-family: $raleway;
    font-weight: $fw-light;
}

p{
    font-size: $fontSizeparagraphe;
    line-height: $lineHeightParagraphe;
    margin-bottom: 0px;
    color: $c-white;
    font-family: $biryani;
    font-weight: $fw-reg;
    margin: 0px;
    
    @include for-size(tablet) {
        font-size: 18px;
        line-height: 1.5;
     }

    @include for-size(phone) {
        font-size: 16px;
        line-height: 1.5;
     }
}
