@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// @font-face {
//     font-family: 'Raleway-Medium';
//     src: url('/fonts/Raleway-Medium.otf');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }

  @font-face {
    font-family: 'Recoleta-Light';
    src: url('/fonts/Fredoka-VariableFont_wdth,wght.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Recoleta-SemiBold';
    src: url('/fonts/Fredoka-VariableFont_wdth,wght.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


// ----------------------
// POLICE
// ----------------------
$nunito: "Recoleta-Light", sans-serif;
$raleway: "Recoleta-Light", sans-serif;
$biryani: "Biryani", sans-serif;
$recoletaSemiBold : "Recoleta-SemiBold", "sans-serif";

// ----------------------
// Couleurs
// ----------------------

$primary-color: #08090A;
$secondary-color: #FF725E;
$color-btn-primary: #222823;
$color-btn-secondary: #020202;
// à ne pas supprimer

$c-black: black;
$c-white: white;

$c-valid: #2ed573;
$c-alert: #f9a94c;
$c-error: #fe4040;

// ----------------------
// Typo
// ----------------------


$fw-normal: normal;
$fw-light: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-semi: 600;
$fw-bold: 700;
$fw-black: 900;


$gutter: 1rem;

// ----------------------
// Breakpoints
// ----------------------

$breakpoints: (
    "phone": 640px,
    "tablet": 960px,
    "big-tablet": 1150px,
    "desktop": 1350px,
    "big-desktop": 1750px
);

@mixin for-size($size) {
  // Récupérer la valeur du breakpoint à partir de la map $breakpoints
  $breakpoint: map-get($breakpoints, $size);

  @media (max-width: $breakpoint) {
      @content;
  }
}

//-------------
// MARGES
//-------------

$marginThin: 50px;
$marginNormal: 150px;
$marginFat : 300px;

//-------------
// FONT SIZE
//-------------
$fontSizeH1: 56px;
$fontSizeH2: 50px;
$fontSizeH3: 45px;
$fontSizeHref: 20px;
$fontSizeparagraphe: 16px;

// ----------------------
// LINE HEIGHT
// ----------------------

$lineHeightTitle: 1.1;
$lineHeightParagraphe: 1.3;