@font-face {
    font-family: 'Raleway-Medium';
    src: url('/fonts/Raleway-Medium.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Recoleta-Light';
    src: url('/fonts/Recoleta-Light.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

// ----------------------
// Couleurs
// ----------------------

$primary-color: #efefef;
$secondary-color: red;
$color-btn-primary: grey;
$color-btn-secondary: grey;

// à ne pas supprimer

$c-black: #333;
$c-white: #ffffff;

$c-valid: #2ed573;
$c-alert: #f9a94c;
$c-error: #fe4040;

// ----------------------
// Typo
// ----------------------


$fw-normal: normal;
$fw-light: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-semi: 600;
$fw-bold: 700;
$fw-black: 900;


$gutter: 1rem;

// ----------------------
// Breakpoints
// ----------------------

$breakpoints: (
    "phone": 640px,
    "tablet": 960px,
    "big-tablet": 1150px,
    "desktop": 1350px,
    "big-desktop": 1750px
);

@mixin for-size($size) {
  // Récupérer la valeur du breakpoint à partir de la map $breakpoints
  $breakpoint: map-get($breakpoints, $size);

  @media (max-width: $breakpoint) {
      @content;
  }
}

//-------------
// MARGES
//-------------

$marginThin: 50px;
$marginNormal: 150px;
$marginFat : 300px;

