---
import Layout from "@layouts/Layout.astro";
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";
import Crosslink from "@layouts/Crosslink.astro";

import "@styles/main.scss";
import  "@styles/components/contact.scss";
---

<Layout title="AM Créations">
  <Header />

<!-- contact.astro -->

---
title: "Formulaire de Contact"
---

<form action="/api/contact" method="post">
  <div>
    <label for="name">Nom :</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Email :</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="message">Message :</label>
    <textarea id="message" name="message" rows="4" required></textarea>
  </div>
  <button type="submit">Envoyer</button>
</form>


  <div class="ct">
    <Layout title="Footer">
        <Footer />
    </Layout>
  </div>
  
  <div class="ctLarge">
    <Crosslink />
  </div>
</Layout>



<script is:inline>
const form = document.getElementById('form');
const result = document.getElementById('result');

form.addEventListener('submit', function(e) {
  const formData = new FormData(form);
  e.preventDefault();

  const object = Object.fromEntries(formData);
  const json = JSON.stringify(object);

  result.innerHTML = "Please wait..."

  fetch('https://api.web3forms.com/submit', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
          },
          body: json
      })
      .then(async (response) => {
          let json = await response.json();
          if (response.status == 200) {
              result.innerHTML = json.message;
          } else {
              console.log(response);
              result.innerHTML = json.message;
          }
      })
      .catch(error => {
          console.log(error);
          result.innerHTML = "Something went wrong!";
      })
      .then(function() {
          form.reset();
          setTimeout(() => {
              result.style.display = "none";
          }, 3000);
      });
});
</script>