---
import Layout from "@layouts/Layout.astro";
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";
import Crosslink from "@layouts/Crosslink.astro";

import "@styles/main.scss";
import  "@styles/components/contact.scss";
---

<Layout title="AM Créations">
  <Header />

  <div class="ct contact-form">
<h1>Contact</h1>
    <div class="contact-left">

    </div>
    <div class="contact-right">
      <form method="POST" id="form">

        <input type="hidden" name="access_key" value="7843a112-14cb-4b8e-99e2-4c8e3c231681">
      
        <input type="text" name="name" required>
        <input type="email" name="email" required>
        <textarea name="message" required></textarea>
        <button type="submit">Submit Form</button>
        <div id="result"></div>
      
      </form>
    </div>
    
  </div>


  <div class="ct">
    <Layout title="Footer">
        <Footer />
    </Layout>
  </div>
  
  <div class="ctLarge">
    <Crosslink />
  </div>
</Layout>



<script is:inline>
const form = document.getElementById('form');
const result = document.getElementById('result');

form.addEventListener('submit', function(e) {
  const formData = new FormData(form);
  e.preventDefault();

  const object = Object.fromEntries(formData);
  const json = JSON.stringify(object);

  result.innerHTML = "Please wait..."

  fetch('https://api.web3forms.com/submit', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
          },
          body: json
      })
      .then(async (response) => {
          let json = await response.json();
          if (response.status == 200) {
              result.innerHTML = json.message;
          } else {
              console.log(response);
              result.innerHTML = json.message;
          }
      })
      .catch(error => {
          console.log(error);
          result.innerHTML = "Something went wrong!";
      })
      .then(function() {
          form.reset();
          setTimeout(() => {
              result.style.display = "none";
          }, 3000);
      });
});
</script>