---
import Layout from '@layouts/Layout.astro';
import Menu from '@components/Menu.astro';
import Hero from '@layouts/Hero.astro';
import Intro from '@components/Intro.astro';
import HorizontalScroll from '@components/HorizontalScroll.astro';
import Pricing from '@components/Pricing.astro';
import Project from '@components/Project.astro';
import ScrollRightGsap from '@components/ScrollRightGsap.astro';
import ImageGaucheTextDroite from '@components/ImageGaucheTextDroite.astro';
import Footer from '@layouts/Footer.astro';
import Crosslink from '@layouts/Crosslink.astro';

import '@styles/main.scss';


---

<script>
   import gsap from 'gsap';
   import ScrollTrigger from 'gsap/dist/ScrollTrigger';
   gsap.registerPlugin(ScrollTrigger);

   document.addEventListener("DOMContentLoaded", function() {
    var voirPlusBtn = document.querySelector(".voir-plus");
    var texte = document.querySelector(".bloc-seo .voirplus");
    var estCache = true;

    voirPlusBtn.addEventListener("click", function() {
        if (estCache) {
            texte.style.display = "block";
            voirPlusBtn.textContent = "Voir -";
            estCache = false;
        } else {
            texte.style.display = "none";
            voirPlusBtn.textContent = "Voir +";
            estCache = true;
        }
    });
});

</script>



<Layout title="Welcome to Astro.">
	<Menu adressemail="alexandre.marolleau@hotmail.fr">

	</Menu>

</Layout>

<div class="ct100">
	<Hero title="Création de site internet a Annecy "/>
</div>

<div class="ct100 intro-homepage padding-top-big padding-bottom-big">
	<Intro src="/assets/images/no-timer.jpg" alt="test"/>
</div>

<div class="ct padding-top-big">
	<Pricing/>
</div>

<div class="ct padding-top-big padding-bottom-big" id="projects">
	<Project/>
</div>

<div class="ct100 presentation-creation">
	<ImageGaucheTextDroite src="/assets/images/working.jpg" alt="test"/>
</div>

<ScrollRightGsap/>

<HorizontalScroll>
	<div class="ct-carrousel" slot="panel-1">
			<div class="ct-carrousel-left">
				<img src="/assets/images/creative-logo-bloc.svg" />
			   </div>
			   <div class="ct-carrousel-right">
				<span> UX STRATEGY & CONSULTING</span>
					<h2>UX Design & Audits</h2>
					<p>Je serais ravi de vous soutenir dans la réalisation de tests d'UX modérés ou non modérés, d'examiner moi-même de manière professionnelle votre site web. Découvrons ensemble comment nous pouvons améliorer la création de votre site internet!</p>
			</div>
	</div>
	<div class="ct-carrousel" slot="panel-2">
		<div class="ct-carrousel-left">
			<img src="/assets/images/responsive-bloc.svg" />
		   </div>
		   <div class="ct-carrousel-right">
			<span>EXPERIENCE AT</span>
				<h2>Development</h2>
				<p>Je contribuerai à la croissance de votre site web grâce à ma solide expérience dans la création et le développement de sites internet, que ce soit pour des boutiques en ligne, des collectivités, des pages d'accueil ou des sites vitrine. Je travaille actuellement dans une entreprise solidement implantée sur le marché d'Annecy.</p>
		</div>
</div>
<div class="ct-carrousel" slot="panel-3">
	<div class="ct-carrousel-left">
		<img src="/assets/images/redaction.svg" />
	   </div>
	   <div class="ct-carrousel-right">
		<span>BUILD A BEAUTIFUL & HIGH PERFORMING</span>
			<h2>UI Design</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	</div>
</div>
</HorizontalScroll>

<div class="ct referencement">
	<h2>Text de référencement</h2>
	<div class="bloc-seo">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<div class="voirplus" style="display:none;">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<button class="voir-plus">Voir +</button>
	</div>
</div>

<div class="ct">
	<Layout title="Footer">
		<Footer/>
	</Layout>
</div>

<div class="ctLarge">
	<Crosslink/>
</div>
