---
import Layout from '@layouts/Layout.astro';
import Menu from '@components/Menu.astro';
import Hero from '@layouts/Hero.astro';
import Intro from '@components/Intro.astro';
import HorizontalScroll from '@components/HorizontalScroll.astro';
import Pricing from '@components/Pricing.astro';
import Project from '@components/Project.astro';
import ScrollRightGsap from '@components/ScrollRightGsap.astro';
import ImageGaucheTextDroite from '@components/ImageGaucheTextDroite.astro';
import Footer from '@layouts/Footer.astro';
import Crosslink from '@layouts/Crosslink.astro';

import '@styles/main.scss';
---

<script>
   import gsap from 'gsap';
   import ScrollTrigger from 'gsap/dist/ScrollTrigger';
   gsap.registerPlugin(ScrollTrigger);

</script>



<Layout title="Welcome to Astro.">
	<Menu adressemail="alexandre.marolleau@hotmail.fr">

	</Menu>

</Layout>

<div class="ct100">
	<Hero title="Bienvenue chez AM Créations  - Création de site internet a Annecy "/>
</div>

<div class="ct100 intro-homepage padding-top-big padding-bottom-big">
	<Intro src="/assets/images/no-time.jpg" alt="test"/>
</div>

<div class="ct">
	<Pricing/>
</div>

<div class="ct padding-top-big padding-bottom-big">
	<Project/>
</div>

<div class="ct100 presentation-creation">
	<ImageGaucheTextDroite src="/assets/images/working.jpg" alt="test"/>
</div>

<ScrollRightGsap/>

<HorizontalScroll>
	<div class="ct-carrousel" slot="panel-1">
			<div class="ct-carrousel-left">
				img
			   </div>
			   <div class="ct-carrousel-right">
					<h2>La création de votre site internet landing page ou vitrine </h2>
			</div>
	</div>
	<div class="ct-carrousel" slot="panel-2">
		<div class="ct-carrousel-left">
			img
		   </div>
		   <div class="ct-carrousel-right">
				<h2>La maintenance du site internet </h2>
		</div>
</div>
<div class="ct-carrousel" slot="panel-3">
	<div class="ct-carrousel-left">
		img
	   </div>
	   <div class="ct-carrousel-right">
			<h2>La gestion de l'hébergement </h2>
	</div>
</div>
</HorizontalScroll>


<div class="ct">
	<Layout title="Footer">
		<Footer/>
	</Layout>
</div>

<div class="ct">
	<Crosslink/>
</div>
