---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import Hero from '@layouts/Hero.astro';
import HorizontalScroll from '@components/HorizontalScroll.astro';
import ImageGaucheTextDroite from '@components/ImageGaucheTextDroite.astro';
import ImageDroiteTextGauche from '@components/ImageDroiteTextGauche.astro';
import ImageFull from '@components/ImageFull.astro';
import DoubleText from '@components/DoubleText.astro';
import TripleText from '@components/TripleText.astro';
import Footer from '@layouts/Footer.astro';
import Crosslink from '@layouts/Crosslink.astro';
import ScrollRightGsap from '@components/ScrollRightGsap.astro';
import Menu from '@components/Menu.astro';
import '@styles/main.scss';
---

<script>
   import gsap from 'gsap';
   import ScrollTrigger from 'gsap/dist/ScrollTrigger';
   gsap.registerPlugin(ScrollTrigger);

	// console.log(ScrollTrigger);

// 	gsap.from('#scrollOpacity', {
//     opacity: 0, // Opacité de départ à 0
//     // duration: 1, // Durée de l'animation
//     scrollTrigger: {
//         trigger: '#scrollOpacity',
//         start: 'top center', 
//         end: 'bottom center',
//         scrub: true, 
//         markers: false 
//     }
// });

</script>

<Layout title="Welcome to Astro.">
	<Menu />
	<!-- <div class="ct100">
		<ImageFull src="/assets/images/header-homepage.jpg" alt="test"/>
	</div> -->
	<Hero/>
	<h1 class="ct">Différents boutons</h1>
	<div class="ct">
		<a href="#" class="btn">Button</a>
		<a href="#" class="btnHoverGauche">Button Hover a gauche</a>
		<a href="#" class="btnHoverDroite">Button Hover a Droite</a>
	</div>
	<div class="ct">
		<ImageGaucheTextDroite/>
	</div>
	<div class="ct">
		<ImageDroiteTextGauche/>
	</div>
		<div class="ct100">
			<ImageFull src="/assets/images/full.jpg" alt="test"/>
		</div>
		<div class="ct">
			<DoubleText
			bodyG="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
			bodyD="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
			/>
		</div>
		<div class="ct">
			<TripleText/>
		</div>

		<div class="ct">
			<h2>Bloc lien</h2>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://docs.astro.build/"
					title="Documentation"
					body="Learn how Astro works and explore the official API docs."
				/>
				<Card
					href="https://astro.build/integrations/"
					title="Integrations"
					body="Supercharge your project with new frameworks and libraries."
				/>
				<Card
					href="https://astro.build/themes/"
					title="Themes"
					body="Explore a galaxy of community-built starter themes."
				/>
				<Card
					href="https://astro.build/chat/"
					title="Community"
					body="Come say hi to our amazing Discord community. ❤️"
				/>
			</ul>
		</div>
<!-- 
		 <HorizontalScroll>
			<div slot="panel-1"></div>
		</HorizontalScroll>  -->
</Layout>

<div class="ct">
	<ScrollRightGsap/>
	
</div>

<div class="ct">
	<Layout title="Footer">
		<Footer/>
	</Layout>
</div>

<div class="ct">
	<Crosslink/>
</div>

<style>


	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}

</style>
