---
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";
import Crosslink from "@layouts/Crosslink.astro";

import "@styles/main.scss";
---

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/dist/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    if (!window.matchMedia("(max-width: 960px)").matches) {
        document.querySelectorAll(".imgZoom img")?.forEach((element) => {
            const tl = gsap.timeline({
                scrollTrigger: {
                    trigger: element,
                    markers: false,
                    start: "top +=70%",
                    end: "center +=65%",
                    once: false,
                    pin: false,
                    refreshPriority: 1,
                    scrub: true,
                },
            });
            tl.fromTo(
                element,
                { clipPath: "polygon(25% 0%, 75% 0%, 75% 100%, 25% 100%)"  , duration: 1, ease: "power1.inOut" }, // Ajout de l'option ease
                {clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)"},
            );
        });
    }

if (!window.matchMedia("(max-width: 1140px)").matches) {
    document
        .querySelectorAll(".project-more-left img")
        ?.forEach((element) => {
            const tl = gsap.timeline({
                scrollTrigger: {
                    trigger: element,
                    markers: false,
                    start: "-10% 100%",
                    end: "+=800px 100%",
                    once: false,
                    pin: false,
                    refreshPriority: 1,
                    scrub: true,
                },
            });
            tl.fromTo(
                element,
                { y: "200px", opacity: 0 }, // Ajouter l'opacité initiale
                { duration: 4, ease: "expo.out", y: "-6vh", opacity: 1 }, // Ajouter l'opacité finale
            );
        });
}

if (!window.matchMedia("(max-width: 1140px)").matches) {
    document
        .querySelectorAll(".text-right")
        ?.forEach((element) => {
            const tl = gsap.timeline({
                scrollTrigger: {
                    trigger: element,
                    markers: false,
                    start: "top 80%",
                    end: "+=800px 100%",
                    once: false,
                    pin: false,
                    refreshPriority: 1,
                    scrub: false,
                },
            });
            tl.fromTo(
                element,
                { y: "100px", opacity: 0 }, 
                { duration: 0.8, ease: "power1.out", y: "-5vh", opacity: 1 }, 
            );
        });
}

window.addEventListener("DOMContentLoaded", () => {
    const bgLoading = document.querySelector(".bg-loading");

let timeline = gsap.timeline();

timeline.fromTo(
    bgLoading,
    {
        clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)"
    },
    {
        clipPath: "polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%)",
        duration: 1.5,
        delay: 1,
        ease: "power1.out"
    }
);
})

</script>

<Header />

<div class="bg-loading">
    <h1>En savoir + </h1>
</div>

<div class="project-page">
    <div class="header-projects">
        <div class="header-left-project">
            <div class="bloc-title-width">
                <h2 class="color-black">Silvianna beauty</h2>
                <p>
                    Silvianna Beauty est un salon d'esthetique ouvert dans la commune d'Allinges par Johanna. Forte de ses 12 années d'expérience, elle a ouvert son propre institut
                </p>
            </div>
        </div>
        <div class="header-right-project">
            <img src="/assets/images/silvianna-project.jpg" />
        </div>
    </div>
    <div class="about-project">
        <div class="text-left">
            <p class="paragraph-left">Client<br /></p><p
                class="paragraph-left normal"
            >
                Silvianna beauty<br />
            </p><p class="paragraph-left normal"><br /></p><p
                class="paragraph-left"
            >
                year<br />
            </p><p class="paragraph-left normal">2023<br /></p><p
                class="paragraph-left"
            >
                <br />
            </p><p class="paragraph-left">role<br /></p><p
                class="paragraph-left normal"
            >
                ux design<br />ui design <br />
            </p>
        </div>

        <div class="text-right">
            <div class="ct-text-right">
                <h2>Estheticienne website</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
    <div class="imgZoom">
        <div class="contenuFullPhotoSeule">
            <div class="photoColonne">
                <img src="/assets/images/silvianna-project.jpg" />
            </div>
        </div>
    </div>

    <div class="ct little-desc padding-top-big padding-bottom-big">
        <h2>Mobile-first designed</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam,
        </p>
    </div>

    <div class="project-more">
        <div class="project-more-left">
            <img src="/assets/images/silvianna-left.png" />
        </div>
        <div class="project-more-right">
            <img src="/assets/images/responsive-silvianna.png" />
        </div>
    </div>

    <div class="ct little-desc padding-bottom-big">
        <h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
        </h2>
    </div>

    <div class="ct project-image padding-bottom-big">
        <a href="https://silvianna-beauty.fr/" target="blank">
            <img src="/assets/images/silvianna-web-beauty.png" />
        </a>
    </div>

    <div class="ct little-desc padding-bottom-big">
        <h2>Le resultat</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam,
        </p>
    </div>

    <div class="ct maquette">
        <img src="/assets/images/maquette-silvianna.png" />
    </div>
</div>

<Footer />
<Crosslink />
