---
import '@styles/variables.scss'
import  '@styles/components/card.scss';
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<p>
			{title}
			<span>&rarr;</span>
		</p>
		<p>
			{body}
		</p>
	</a>
</li>

<style lang="scss">

</style>
