---
interface Props {
	bodyG: string;
    bodyD: string;
}

const { bodyG, bodyD } = Astro.props;
---

<h2>Double text</h2>
<div class="double-columnText">
    <div class="TextLeft">
        <p>{bodyG}</p>
    </div>
    <div class="TextRight">
        <p>{bodyD}</p>
    </div>
</div>