<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/dist/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    let sections = gsap.utils.toArray(".panel");

    gsap.to(sections, {
        xPercent: -100 * (sections.length - 1),
        ease: "none",
        scrollTrigger: {
            trigger: ".container",
            pin: true,
            scrub: 1,
            // snap: 1 / (sections.length - 1),
            end: () => "+=" + document.querySelector(".container").offsetWidth,
        },
    });
</script>

<div class="firstContainer">
    <h1>Testing horizontal scrolling w/ three sections</h1>
    <h2>First</h2>
</div>
<div class="container">
    <div class="description panel">
        <slot name="panel-1">
            Test
        </slot>
    </div>

    <section class="panel">
        <slot name="panel-2">

        </slot>
    </section>
    <section class="panel">
        <slot name="panel-3">

        </slot>
    </section>

</div>
<div class="lastContainer"></div>
