

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/dist/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    let sections = gsap.utils.toArray(".panel");

    gsap.to(sections, {
        xPercent: -100 * (sections.length - 1),
        ease: "none",
        scrollTrigger: {
            trigger: ".container",
            pin: true,
            scrub: 1,
            end: () => "+=3000" ,
        },
    });
</script>

<div class="firstContainer">
    <div class="ct">
        <h2>Pourquoi Choisir notre Solution Clés en Main ? </h2>
        <h3>La création de votre site internet landing page ou vitrine </h3>
    </div>

</div>
<div class="container">
    <section class="panel">
        <slot name="panel-1">
           
        </slot>
    </section>

    <section class="panel">
        <slot name="panel-2">

        </slot>
    </section>
    <section class="panel">
        <slot name="panel-3">

        </slot>
    </section>

</div>
