---
import { Image } from 'astro:assets';


interface Props {
	src: string;
    alt: string;
}

const { src, alt } = Astro.props;
---

        <div class="conteneurBlocImgTxt">
            <div class="contenuMixteImageG">
                <Image src={src}  width="200"   height="150" alt={alt} />
            </div>
            <div class="contenuMixteTexteD" id="texteD">
                    <h2>Bienvenue chez AM Création, votre partenaire digital à Annecy et dans la région du Chablais ! </h2>
                    <p>
                        Vous êtes entrepreneurs basés à Annecy, en Haute-Savoie ou dans les environs du Chablais ?
                        <br>
                        <br>
                       AM Création plonge dans votre stratégie pour concevoir le site internet parfaitement adapté à vos besoins. Nous vous accompagnons dans la définition de vos exigences afin de vous proposer la meilleure solution en termes de qualité et de prix.
                    <br>
                    <br>Nous mettons en avant notre engagement à placer le client au cœur de notre approche. Nous travaillons en étroite collaboration avec vous pour comprendre vos objectifs en ligne. Que vous recherchiez une présence vitrine élégante pour votre entreprise ou une page de destination percutante pour convertir vos visiteurs en clients, notre expertise se concentre exclusivement sur la création de sites vitrines et de landing pages. Nous sommes là pour transformer vos idées en réalité et vous aider à atteindre vos objectifs en ligne</p>
                </div>
        </div>