---
import { Image } from 'astro:assets';
// import myImage from "/assets/images/full.webp"; 

interface Props {
	src: string;
    alt: string;
}

const { src, alt } = Astro.props;
---

    <div class="imageFull" id="scrollOpacity">
        <Image src={src}  width="200"   height="150" alt={alt} />
    </div>

