---
import { Image } from 'astro:assets';


interface Props {
	src: string;
    alt: string;
}

const { src, alt } = Astro.props;
---

        <div class="conteneurBlocImgTxt">
            <div class="contenuMixteImageG">
                <Image src={src}  width="200"   height="150" alt={alt} />
            </div>
            <div class="contenuMixteTexteD" id="texteD">
                <h2>Lorem Ipsum</h2>
                <p>
                    Chez AM Créations , nous mettons en avant notre engagement à placer le client au cœur de notre approche. Nous travaillons en étroite collaboration avec vous pour comprendre vos objectifs en ligne. Que vous recherchiez une présence vitrine élégante pour votre entreprise ou une page de destination percutante pour convertir vos visiteurs en clients, notre expertise se concentre exclusivement sur la création de sites vitrines et de landing pages. Nous sommes là pour transformer vos idées en réalité et vous aider à atteindre vos objectifs en ligne                </p>
            </div>
        </div>