---
import { Image } from 'astro:assets';
import myImage from "../assets/images/full.jpg"; 
---

    <div class="imageFull">
        <Image src={myImage} alt="La description de mon image." />
    </div>

