---
import "@styles/components/pricing.scss";

// const { adressemail } = Astro.props;
---

<h2>Nos offres</h2>
<!-- <img src="/assets/images/card_pricing.png" /> -->
<div class="offers padding-top-big">
    <div class="card-offer">
       <div class="card-description">
        <div class="card-title"><p>Silver</p></div>
        <p class="card-price">2500€</p>
        <img src="/assets/images/silver.svg" class="picto-card"/>
        <div class="description-picto">
            <img src="/assets/images/validate-orange.png" />
            <p>Maquette</p>
        </div>
        <div class="description-picto">
            <img src="/assets/images/validate-orange.png" />
            <p>Landing page</p>
        </div>
        <div class="description-picto">
            <img src="/assets/images/validate-orange.png" />
            <p>5 Pages</p>
        </div>
        <div class="description-picto">
            <img src="/assets/images/validate-orange.png" />
            <p>Référencement</p>
        </div>
        <div class="description-picto">
            <img src="/assets/images/validate-orange.png" />
            <p>Hébérgement</p>
        </div>
        <div class="description-picto gris">
            <img src="/assets/images/cross-orange.png" />
            <p>Texte SEO</p>
        </div>
        <div class="description-picto gris">
            <img src="/assets/images/cross-orange.png" />
            <p>Logo</p>
        </div>
        <div class="description-picto gris">
            <img src="/assets/images/cross-orange.png" />
            <p>Texte SEO</p>
        </div>
       </div>
    </div>
    <div class="card-offer">
        <div class="card-description">
         <div class="card-title"><p>Gold</p></div>
         <p class="card-price">3500€</p>
         <img src="/assets/images/gold.svg" class="picto-card"/>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>Maquette</p>
         </div>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>Site vitrine</p>
         </div>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>5 Pages</p>
         </div>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>Référencement</p>
         </div>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>Hébérgement</p>
         </div>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>Texte SEO</p>
         </div>
         <div class="description-picto gris">
             <img src="/assets/images/cross-orange.png" />
             <p>Logo</p>
         </div>
         <div class="description-picto gris">
             <img src="/assets/images/cross-orange.png" />
             <p>Texte SEO</p>
         </div>
        </div>
     </div>
     <div class="card-offer">
        <div class="card-description">
         <div class="card-title"><p>Diamond</p></div>
         <p class="card-price">4000€</p>
         <img src="/assets/images/silver.svg" class="picto-card"/>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>Maquette</p>
         </div>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>Site vitrine</p>
         </div>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>8 Pages</p>
         </div>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>Référencement</p>
         </div>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>Hébérgement</p>
         </div>
         <div class="description-picto">
             <img src="/assets/images/validate-orange.png" />
             <p>Texte SEO</p>
         </div>
         <div class="description-picto gris">
             <img src="/assets/images/cross-orange.png" />
             <p>Logo</p>
         </div>
         <div class="description-picto gris">
             <img src="/assets/images/cross-orange.png" />
             <p>Texte SEO</p>
         </div>
        </div>
     </div>
</div>
