---
import "@styles/components/pricing.scss";

// const { adressemail } = Astro.props;
---

<h2>Nos offres</h2>

<div class="offers">
    <div class="card-offer">
        <div class="encart-offer">
            <p>Silver</p>
            <img  src="/assets/images/silver.svg">
        </div>
        <div class="content-offer">
            <p class="price">2500€</p>
                <div class="desc-offer">
                    <svg
                        width="24"
                        height="24"
                        fill="none"
                        class="text-green"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75"
                        ></path>
                    </svg>
                    <p>Maquette</p>
                </div>
                <div class="desc-offer">
                    <p>Landing Page</p>
                </div>
                <div class="desc-offer">

                    <p>5 pages</p>
                </div>
                <div class="desc-offer">
                    <p>Référencement</p>
                </div>
                <div class="desc-offer">
                    <p>Hébergements</p>
                </div>
                <div class="desc-offer">
                    <p>Logo</p>
                </div>
                <div class="desc-offer">
                    <p>Text SEO</p>
                </div>
        </div>
    </div>
    <div class="card-offer">
        <div class="encart-offer">
            <p>Silver</p>
            <img  src="/assets/images/gold.svg">
        </div>
        <div class="content-offer">
            <p class="price">3500</p>
                <div class="desc-offer">
                    <svg
                        width="24"
                        height="24"
                        fill="none"
                        class="text-green"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75"
                        ></path>
                    </svg>
                    <p>Maquette</p>
                </div>
                <div class="desc-offer">
                    <svg
                        width="24"
                        height="24"
                        fill="none"
                        class="text-green"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75"
                        ></path>
                    </svg>
                    <p>Maquette</p>
                </div>
                <div class="desc-offer">
                    <p>Maquette</p>
                </div>
        </div>
    </div>
    <div class="card-offer">
        <div class="encart-offer">
            <p>Silver</p>
            <img  src="/assets/images/diamond.svg">
        </div>
        <div class="content-offer">
            <p class="price">4000€</p>
                <div class="desc-offer">
                    <svg
                        width="24"
                        height="24"
                        fill="none"
                        class="text-green"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75"
                        ></path>
                    </svg>
                    <p>Maquette</p>
                </div>
                <div class="desc-offer">
                    <svg
                        width="24"
                        height="24"
                        fill="none"
                        class="text-green"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75"
                        ></path>
                    </svg>
                    <p>Maquette</p>
                </div>
                <div class="desc-offer">
                    <svg
                        width="24"
                        height="24"
                        fill="none"
                        class="text-green"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.5"
                            d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75"
                        ></path>
                    </svg>
                    <p>Maquette</p>
                </div>
        </div>
    </div>
</div>
