---
import "@styles/components/pricing.scss";

// const { adressemail } = Astro.props;
---

<h2>Nos offres</h2>

<div class="offers">
    <div class="card-offer">
        <div class="header-offer">
            <p>Silver</p>
            <p>2500€</p>
        </div>
        <div class="header-picto">Picture</div>
        <div class="header-desc">
            <p>Maquette</p>
        </div>
    </div>
    <div class="card-offer">
        <div class="header-offer">
            <p>Silver</p>
            <p>2500€</p>
        </div>
        <div class="header-picto">Picture</div>
        <div class="header-desc">
            <p>Maquette</p>
        </div>
    </div>
    <div class="card-offer">
        <div class="header-offer">
            <p>Silver</p>
            <p>2500€</p>
        </div>
        <div class="header-picto">Picture</div>
        <div class="header-desc">
            <p>Maquette</p>
        </div>
    </div>
</div>
