---
import "@styles/components/pricing.scss";

// const { adressemail } = Astro.props;
---

<h2>Nos offres</h2>

<div class="offers">
    <div class="card-offer">
        <div class="header-offer">
            <p>Silver</p>
            <p>2500€</p>
        </div>
        <div class="header-picto">
            <svg
                width="24"
                height="24"
                fill="none"
                class="text-green"
                viewBox="0 0 24 24"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75"
                ></path>
            </svg>
        </div>
        <div class="header-desc">
            <p>Maquette</p>
        </div>
    </div>
    <div class="card-offer">
        <div class="header-offer">
            <p>Silver</p>
            <p>2500€</p>
        </div>
        <div class="header-picto">Picture</div>
        <div class="header-desc">
            <p>Maquette</p>
        </div>
    </div>
    <div class="card-offer">
        <div class="header-offer">
            <p>Silver</p>
            <p>2500€</p>
        </div>
        <div class="header-picto">Picture</div>
        <div class="header-desc">
            <p>Maquette</p>
        </div>
    </div>
</div>
