---
import  '@styles/components/project.scss';

// const { adressemail } = Astro.props;
--- 

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/dist/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
    gsap.utils.toArray('.project-container').forEach(element => {

const each = element.querySelectorAll('.project');



const tl = gsap.timeline({

    scrollTrigger: {

        trigger: element,

        markers: false,

        start: 'top +=70%',

        end: 'center +=70%',

        once: true,

        pin: false,

        refreshPriority: 1,

    }

});

tl.from(each, {

    autoAlpha: 0,

    y: 70,

    ease: 'power1.out',

    duration: 1,

    stagger: 0.1
    
});

});</script>

<h2>Selected Works</h2>
<div class="project-container">
  <div class="project-container-left">
    <div class="project padding-top-big">
        <a href="/silvianna">
        <img src="/assets/images/silvianna.png">
        </a>
        <div class="desc-project">
            <a href="/silvianna">Sivlianna beauty</a>
            <p>Création du site complet </p>
        </div>
    </div>
    <div class="project">
        <img src="/assets/images/silvianna.png">
        <div class="desc-project">
            <a href="#">Sivlianna beauty</a>
            <p>Création du site complet </p>
        </div>
    </div>
  </div>
  <div class="project-container-right">
    <div class="project padding-bottom-big">
        <img src="/assets/images/silvianna.png">
        <div class="desc-project">
            <a href="#">Sivlianna beauty</a>
            <p>Création du site complet </p>
        </div>
    </div>
    <div class="project">
        <img src="/assets/images/silvianna.png">
        <div class="desc-project">
            <a href="#">Sivlianna beauty</a>
            <p>Création du site complet </p>
        </div>
    </div>
  </div>
</div>