---

---

<script>
 import gsap from "gsap";
import ScrollTrigger from "gsap/dist/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger);

PinStepBlock();


function PinStepBlock() {
  if(window.matchMedia("(max-width:1350px)").matches){ 
    return
  }

  const PinStepBlockElems = document.querySelectorAll(".PinStepBlock");
  PinStepBlockElems?.forEach((PinStepBlock) => {
    const contenuDroitElem = document.querySelector(".contenuTexteColD");
    const contenuDroitRect = contenuDroitElem.getBoundingClientRect();
    const windowCenter = window.innerHeight / 2;
    const ElementDistanceStart = Math.abs(
      contenuDroitRect.top + contenuDroitRect.height / 2 - windowCenter
    );
    const ElementDistanceEnd = Math.abs(
      contenuDroitRect.bottom - windowCenter
    );
    const Distance = {
      Pixels: function (axis) {
        return axis === "Y" ? ElementDistanceStart : 0;
      },
    };

    const imagesElems = document.querySelectorAll(
      ".contenuTexteColD .pinDiv"
    );
    imagesElems.forEach((image, index) => {
      const tl = gsap.timeline({
        scrollTrigger: {
          markers: false,
          start: "center center",
          end: "+=" + (contenuDroitRect.height - window.innerHeight) + " center",
          trigger: image,
          pin: true,
          scrub: true,
        },
      });
    });

    const textsElems = PinStepBlock.querySelectorAll(
      ".contenuTexteColG .blocTxt"
    );
    textsElems?.forEach((textElem, index) => {
      const tl = gsap.timeline({
        scrollTrigger: {
          markers: false,
          start: "top 80%",
          end: "top 80%",
          onEnter: () => {
            const img =
              imagesElems.length > index - 1 ? imagesElems[index - 1] : null;
            if (img) {
              gsap.to(img, {
                opacity: 0,
              });
            }

            const nextImg =
              imagesElems.length > index ? imagesElems[index] : null;
            if (nextImg) {
              gsap.to(nextImg, {
                opacity: 1,
              });
            }

            const bullet =
              bullets.length > index - 1 ? bullets[index - 1] : null;
            if (bullet) {
              gsap.to(bullet, {
                scale: 1,
              });
            }
            const nextbullet = bullets.length > index ? bullets[index] : null;
            if (nextbullet) {
              gsap.to(nextbullet, {
                scale: 2,
              });
            }
          },
          onEnterBack: () => {
            const img =
              imagesElems.length > index - 1 ? imagesElems[index - 1] : null;
            if (img) {
              gsap.to(img, {
                opacity: 1,
              });
            }
            const nextImg =
              imagesElems.length > index ? imagesElems[index] : null;
            if (nextImg && index != 0) {
              gsap.to(nextImg, {
                opacity: 0,
              });
            }

            const bullet =
              bullets.length > index - 1 ? bullets[index - 1] : null;
            if (bullet) {
              gsap.to(bullet, {
                scale: 1.3,
              });
            }
            const nextbullet = bullets.length > index ? bullets[index] : null;
            if (nextbullet && index != 0) {
              gsap.to(nextbullet, {
                scale: 1,
              });
            }
          },
          trigger: textElem,
        },
      });
    });

    const img = imagesElems.length > 0 ? imagesElems[0] : null;
    if (img) {
      gsap.to(img, {
        opacity: 1,
      });
    }

    const bullets = getBullets();

    function getBullets() {
      const bullets = [];

      const parent = document.createElement("div");
      parent.classList.add("bulletsListTxtImg");

      textsElems?.forEach((text) => {
        const bullet = document.createElement("span");
        bullet.classList.add("bullet");
        parent.appendChild(bullet);
        bullets.push(bullet);
      });
      PinStepBlock.insertBefore(parent, PinStepBlock.firstChild);

      return bullets;
    }
  });
}

</script>

<section class="PinStepBlock">
  <div class="bulletsListTxtImg">
      <span class="bullet"></span>
      <span class="bullet"></span>
      <span class="bullet"></span>
  </div>
  <div class="contenuTexteColG">
    <div class="blocTxt">
      <div class="content">
        <img src="/assets/images/icon_create-white.svg" />
        <h2>Création Landing page ou vitrine</h2>
        <p>Vous recherchez une manière efficace de présenter votre entreprise en ligne ? Notre équipe spécialisée dans la création de landing pages et de sites vitrines est là pour vous aider à atteindre vos objectifs.<br>
          <br>
          Votre site web est souvent la première impression que les clients potentiels ont de votre entreprise. Nous concevons des sites vitrines élégants et fonctionnels qui reflètent l'essence de votre marque, mettant en valeur vos produits et services de manière attrayante.
          <br>
          <br>
          Découvrez dès maintenant comment notre équipe peut vous aider à tirer le meilleur parti de votre présence en ligne. Contactez-nous pour discuter de votre projet de création de landing page ou de site vitrine.
      </div>
    </div>
    <div class="blocTxt">
      <div class="content">
        <img src="/assets/images/icon_maintenance-white.svg" />
        <h2>Maintenance du site internet </h2>
        <p>Votre site web est une vitrine essentielle pour votre entreprise, et sa maintenance régulière est cruciale pour assurer son bon fonctionnement et sa sécurité. Avec notre équipe de spécialistes de la maintenance de site internet, vous pouvez avoir l'esprit tranquille en sachant que votre site est entre de bonnes mains.<br>
        <br>
        Les plateformes et les technologies web évoluent constamment. Nous nous assurons que votre site reste à jour avec les dernières versions de logiciels, de plugins et de systèmes d'exploitation pour garantir une performance optimale et une compatibilité maximale.
      <br>
    <br>
    Investissez dans la maintenance de votre site internet dès aujourd'hui pour éviter les problèmes coûteux et les interruptions inattendues. Contactez-nous pour découvrir comment notre équipe peut prendre en charge la maintenance de votre site internet de manière professionnelle et fiable.</p>
  </p>
      </div>
    </div>
    <div class="blocTxt">
      <div class="content">
        <img src="/assets/images/icon_website-white.svg" />
        <h2>Gestion de l'hébergement </h2>
        <p>L'hébergement web est la fondation sur laquelle repose votre site internet, et une gestion efficace est essentielle pour garantir sa disponibilité, sa sécurité et ses performances. Avec notre équipe spécialisée dans la gestion d'hébergement, vous pouvez vous concentrer sur votre entreprise en toute tranquillité, en sachant que votre site est entre de bonnes mains.<br>
        <br>
        La configuration initiale de votre hébergement peut être complexe et fastidieuse. Nous prenons en charge l'installation et la configuration de votre hébergement, en veillant à ce que tous les paramètres soient optimisés pour garantir des performances optimales et une sécurité renforcée.
      <br>
    <br>
    Faites confiance à notre équipe expérimentée pour gérer votre hébergement web de manière professionnelle et fiable. Contactez-nous dès aujourd'hui pour découvrir comment nous pouvons simplifier la gestion de votre hébergement et vous permettre de vous concentrer sur ce qui compte vraiment : votre entreprise.</p>
      </div>
    </div>
    <div class="blocTxt">
      <div class="content">
        <img src="/assets/images/icon_responsive-white.svg" />
        <h2>Site responsive mobile/tablette/PC</h2>
        <p>Dans un monde où la navigation sur internet se fait de plus en plus sur des appareils mobiles, il est crucial d'offrir une expérience utilisateur cohérente et optimale, quel que soit le dispositif utilisé. Avec notre expertise en création de sites web responsives, nous vous aidons à atteindre cet objectif en proposant des sites web qui s'adaptent de manière transparente à tous les écrans.<br>
        <br>
        Les sites web responsives nécessitent une optimisation minutieuse pour garantir des temps de chargement rapides, en particulier sur les réseaux mobiles. Nous mettons en œuvre des techniques avancées d'optimisation de performance pour garantir que votre site se charge rapidement et offre une expérience utilisateur fluide sur tous les appareils.
      <br>
    <br>
    Offrez à vos visiteurs une expérience cohérente et agréable sur tous les appareils avec nos services de création de sites web responsives. Contactez-nous dès aujourd'hui pour discuter de votre projet et découvrir comment nous pouvons vous aider à atteindre vos objectifs en ligne.</p>
      </div>
    </div>
    <div class="blocTxt">
      <div class="content">
        <img src="/assets/images/icon_seo-white.svg" />
        <h2>Référencement naturel minimal / SEO</h2>
        <p>Être trouvé en ligne est essentiel pour toute entreprise, et le référencement naturel (SEO) est la clé pour atteindre cet objectif. Avec notre approche de référencement naturel minimal, nous vous aidons à améliorer votre positionnement dans les moteurs de recherche sans compromettre votre budget.
          <br>
          <br>
          Nous optimisons votre site web pour les moteurs de recherche en mettant en œuvre des techniques d'optimisation on-page telles que l'optimisation des balises meta, l'amélioration de la structure des URL, l'optimisation des images et la création de contenu de qualité.
          <br>
          <br>
          Obtenez des résultats tangibles sans dépasser votre budget avec notre service de référencement naturel minimal. Contactez-nous dès aujourd'hui pour découvrir comment nous pouvons vous aider à améliorer votre visibilité en ligne et à attirer davantage de clients potentiels.
        </p>
      </div>
    </div>
    <div class="blocTxt">
      <div class="content">
        <img src="/assets/images/icon_create-white.svg" />
        <h2>Accompagnement pour la recherche de logo / charte graphique</h2>
        <p>Votre logo et votre charte graphique sont les fondements de votre identité visuelle et jouent un rôle crucial dans la façon dont votre entreprise est perçue. Avec notre expertise en conception graphique, nous vous accompagnons dans la recherche d'un logo et d'une charte graphique qui reflètent parfaitement l'essence de votre marque.
          <br>
          <br>
          Notre équipe de designers talentueux travaille en étroite collaboration avec vous pour créer un logo distinctif et mémorable. Nous explorons différentes concepts et itérations, en prenant en compte vos commentaires et vos suggestions à chaque étape du processus.
          <br>
          <br>
          Investissez dans une identité visuelle forte et cohérente pour votre entreprise avec notre service d'accompagnement pour la recherche de logo et de charte graphique. Contactez-nous dès aujourd'hui pour commencer le processus de création et donner à votre marque l'attention qu'elle mérite.
        </p>
      </div>
    </div>
    <div class="blocTxt">
      <div class="content">
        <img src="/assets/images/icon_conversation-white.svg" />
        <h2>Aide à la rédaction de contenu</h2>
        <p>Le contenu de qualité est au cœur de toute stratégie de marketing en ligne réussie. Que ce soit pour votre site web, vos blogs, vos réseaux sociaux ou vos campagnes par e-mail, un contenu bien rédigé et pertinent est essentiel pour attirer et engager votre audience. Avec notre service d'aide à la rédaction de contenu, nous vous aidons à créer du contenu captivant et efficace qui génère des résultats tangibles pour votre entreprise.
          <br>
          <br>
          Le contenu de qualité est crucial pour le référencement naturel. Nous créons du contenu pertinent et informatif qui répond aux besoins de vos visiteurs tout en étant optimisé pour les moteurs de recherche. Cela inclut la rédaction de blogs, d'articles, de pages de destination et d'autres types de contenu.
        <br>
      <br>
      Investissez dans du contenu de qualité pour votre entreprise avec notre service d'aide à la rédaction de contenu. Contactez-nous dès aujourd'hui pour commencer à créer un contenu qui captive votre audience et stimule la croissance de votre entreprise.</p>
      </div>
    </div>
  </div>
  <div class="contenuTexteColD">
    <div class="pin-spacer">
      <div class="pinDiv">
        <img src="/assets/images/landing-scroll.jpg" />
      </div>
    </div>
    <div class="pin-spacer">
      <div class="pinDiv">
        <img src="/assets/images/maintenance.jpg" />
      </div>
    </div>
    <div class="pin-spacer">
      <div class="pinDiv">
        <img src="/assets/images/hebergement-scroll.jpg" />
      </div>
    </div>
    <div class="pin-spacer">
      <div class="pinDiv">
        <img src="/assets/images/responsive-scroll.jpg" />
      </div>
    </div>
    <div class="pin-spacer">
      <div class="pinDiv">
        <img src="/assets/images/seo-scroll.jpg" />
      </div>
    </div>
    <div class="pin-spacer">
      <div class="pinDiv">
        <img src="/assets/images/logo-scroll.jpg" />
      </div>
    </div>
    <div class="pin-spacer">
      <div class="pinDiv">
        <img src="/assets/images/redaction-scroll.jpg" />
      </div>
    </div>
  </div>
</section>
