---
import "@styles/components/crosslink.scss";
---

<div id="crosslink">
    <div class="column-crosslink">
        <a href="/mentions_legales">Mentions légales</a>
    </div>
    <div class="column-crosslink">
        <a href="##">Données personnelles</a>
    </div>
    <div class="column-crosslink">
        <a href="javascript:.showAxeptio()">Gestion cookies</a>
    </div>
    <div class="column-crosslink">
        <a href="#" target="blank">AM Créations</a>
    </div>
</div>
