---
import "@styles/components/footer.scss";
---

<footer>
    <div class="column-footer">
        <a href="#">Logo</a>
    </div>
    <div class="column-footer">
        <a href="#">Homepage</a>
        <a href="#">Qui sommes-nous</a>
        <a href="#">Project</a>
    </div>
    <div class="column-footer">
        <a href="#">XXX Avenue de Lonaz</a>
        <a href="#">74000 Annecy</a>
        <a href="tel:+0000000000">+ 00 00 00 00 00 </a>
    </div>
    <div class="column-footer">
        <a href="#">Contact</a>
    </div>
</footer>