---
import  '@styles/components/header.scss';

const { adressemail } = Astro.props;
--- 
<script>
    import gsap from "gsap";
    //    import ScrollTrigger from 'gsap/dist/ScrollTrigger';
    //    gsap.registerPlugin(ScrollTrigger);

    // console.log(ScrollTrigger);
    document.addEventListener("DOMContentLoaded", function () {
        const burgerMenu = document.querySelector(".hamburger-wrap");
        const menu = document.getElementById("menu");
        const leftMenu = document.querySelector(".left-menu");
        const rightMenu = document.querySelector(".right-menu");
        const tl = gsap.timeline();
        tl.to(rightMenu, {
            top: 0,
        });
        tl.to(leftMenu, {
            top: 0,
        });
        tl.to(".menu-item", {
            opacity: 1,
        });
        tl.pause(0);
        burgerMenu.addEventListener("click", function () {
            this.classList.toggle("active");
            if (this.classList.contains("active")) {
                tl.play();
            } else {
                tl.reverse();
            }
        }); 
    });

    window.addEventListener('scroll', function() {
    var header = document.getElementById('myHeader');
    if (window.scrollY > 0) {
        header.classList.add('header-scroll');
    } else {
        header.classList.remove('header-scroll');
    }
});
   
</script>

<header id="myHeader">
    <nav>
        <div class="logo">
            <a href="/">
                <img src="/assets/images/logo-header.svg" />
            </a>
        </div>
        <div class="hamburger-wrap">
            <span></span>
            <span></span>
        </div>
    </nav>
    <div id="menu" class="menu">
        <div class="left-menu">
            <a class="adresse-mail-header">{adressemail}</a>
        </div>
        <div class="right-menu">
            <div class="menu-column">
                <a href="#" class="menu-item">Home</a>
                <a href="#" class="menu-item">About</a>
                <a href="#" class="menu-item">Nos projets</a>
                <a href="#" class="menu-item">Contact</a>
            </div>
    
        </div>
    </div>
    
</header>
