---
const { title } = Astro.props;

---

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/dist/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    if (!window.matchMedia("(max-width: 1140px)").matches) {
        document
            .querySelectorAll(".hero-left")
            ?.forEach((element) => {
                const tl = gsap.timeline({
                    scrollTrigger: {
                        trigger: element,
                        markers: false,
                        start: "top 80%",
                        end: "+=800px 100%",
                        once: false,
                        pin: false,
                        refreshPriority: 1,
                        scrub: false,
                    },
                });
                tl.fromTo(
                    element,
                    { opacity: 0 },
                    { duration: 2, delay: 0.8, ease: "power1.out", opacity: 1 },
                );
            });
    }
</script>

<div class="hero">
    <div class="hero-left">
        <div class="hero-text-wrap">
            <h1 class="padding-top-big padding-bottom-big">{title}</h1>
        </div>
    </div>
    <div class="hero-right">
        <object type="image/svg+xml" data="/assets/images/logo-anim-am.svg" width="70%"></object>
    </div>
</div>


