<div class="ctLarge">
    <h1 class="h1-title padding-top-big padding-bottom-big">
        <strong class="bold-text">Alexandre marolleau web developper</strong>
        <br>Lorem ipsum
        <br>Lorem ipsum dolor.</h1>
</div>